<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>DepthTest</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="DepthFunctionState">
      <Function>Less</Function>
    </StateConfiguration>
    <StateConfiguration xsi:type="EnableState">
      <Capability>LineSmooth</Capability>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration>
      <Name>Object</Name>
      <Enabled>true</Enabled>
      <VertexShader>object.vert</VertexShader>
      <FragmentShader>object.frag</FragmentShader>
      <RenderState />
      <TextureBindings />
      <FramebufferAttachments />
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Cube</Name>
      <FileName>..\models\cube.obj</FileName>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Dodecahedron</Name>
      <FileName>..\models\dodecahedron.obj</FileName>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Icosphere</Name>
      <FileName>..\models\icosphere.obj</FileName>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Octahedron</Name>
      <FileName>..\models\octahedron.obj</FileName>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Tetrahedron</Name>
      <FileName>..\models\tetrahedron.obj</FileName>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>