<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <Shaders>
    <ShaderConfiguration xsi:type="TexturedModel">
      <Name>Edge</Name>
      <Enabled>true</Enabled>
      <AutoDraw>false</AutoDraw>
      <VertexShader>
#version 410
layout(location = 0) in vec3 vp;
layout(location = 1) in vec3 vn;
out vec3 position;
out vec3 normal;
uniform mat4 mvp;
uniform mat4 mv;

void main()
{
  vec4 v = vec4(vp, 1.0);
  gl_Position = mvp * v;
  mat4 normalmat = transpose(inverse(mv));
  position = vec3(mv * v);
  normal = normalize(vec3(normalmat * vec4(vn, 1.0)));
  //normal = vp;
}</VertexShader>
      <FragmentShader>
#version 400
uniform vec3 lightposition;
uniform vec4 ambient = vec4(0.0,0.0,0.0,1.0);
uniform vec4 diffuse = vec4(0.3,0.3,0.3,1.0);
uniform vec4 specular = vec4(0.5,0.5,0.5,1.0);
uniform float shininess = 2000;

uniform sampler2D tex;
in vec3 position;
in vec3 normal;
out vec4 frag_colour;

void main()
{
  //frag_colour = vec4(position + color,1);

  vec3 L = normalize(lightposition - position);
   vec3 E = normalize(-position); // we are in Eye Coordinates, so EyePos is (0,0,0)  
   vec3 R = normalize(-reflect(L,normal));
 
   //calculate Ambient Term:
   vec4 Iamb = ambient;

   //calculate Diffuse Term:  
   vec4 Idiff = diffuse * max(dot(normal,L),0.0);
   Idiff = clamp(Idiff, 0.0, 1.0);
   
   // calculate Specular Term:
   vec4 Ispec = specular * pow(max(dot(R,E),0.0),0.3*shininess);
   Ispec = clamp(Ispec, 0.0, 1.0);
   // write Total Color:  
   //frag_colour = vec4(color*0,1) + Iamb + Idiff + Ispec;
   frag_colour = Idiff + Ispec;
   //frag_colour = vec4(color*0,1) + vec4(normal,1);
}
</FragmentShader>
      <RenderState>
        <StateConfiguration xsi:type="EnableState">
          <Capability>DepthTest</Capability>
        </StateConfiguration>
        <StateConfiguration xsi:type="DepthFunctionState">
          <Function>Lequal</Function>
        </StateConfiguration>
        <StateConfiguration xsi:type="EnableState">
          <Capability>LineSmooth</Capability>
        </StateConfiguration>
      </RenderState>
      <TextureUnits>
        <TextureConfiguration xsi:type="Texture2D">
          <Name>tex</Name>
          <WrapS>Repeat</WrapS>
          <WrapT>Repeat</WrapT>
          <MinFilter>Linear</MinFilter>
          <MagFilter>Linear</MagFilter>
          <TextureSlot>Texture0</TextureSlot>
        </TextureConfiguration>
      </TextureUnits>
      <FileName>..\models\icosphere.obj</FileName>
      <DrawMode>Quads</DrawMode>
    </ShaderConfiguration>
  </Shaders>
</ShaderWindowSettings>