<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <WindowState>Maximized</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>DepthTest</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="DepthFunctionState">
      <Function>Lequal</Function>
    </StateConfiguration>
    <StateConfiguration xsi:type="EnableState">
      <Capability>Blend</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="BlendFunctionState">
      <SourceFactor>SrcAlpha</SourceFactor>
      <DestinationFactor>OneMinusSrcAlpha</DestinationFactor>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration>
      <Name>Render</Name>
      <Enabled>true</Enabled>
      <VertexShader>model.vert</VertexShader>
      <FragmentShader>model.frag</FragmentShader>
      <MeshName />
      <RenderState />
      <TextureBindings />
      <FramebufferAttachments />
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Wireframe</Name>
      <FileName>wireframe_sort_zview.obj</FileName>
    </MeshConfiguration>
    <MeshConfiguration>
      <Name>DynamicFrame</Name>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>